.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 50px;
}

.skills__column {
  background: #fff;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  text-align: center;
  transform: translateY(20px);
  animation: fadeUp 0.8s ease forwards;
}
.skills__column:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.12);
  background: linear-gradient(to top, #03a696 20%, transparent 50%);
}
.skills__title {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}

.skills__years {
  display: inline-block;
  font-size: var(--font-size-20);
  margin-top: 1rem;
  color: #000000;
}

.skills__item:hover {
  text-shadow: 0 0 2px var(--color-green);
}
