.box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}

.earth {
  background-image: url(e139edce-0c12-4ab2-93fa-772ecc2f8212.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: rgb(1, 250, 159);
  display: flex;
  place-content: center;
  font-size: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.moon-container {
  position: absolute;
  width: 250px;
  aspect-ratio: 1/1;
  border-radius: 8px;
  color: rgb(173, 3, 3);
  display: flex;
  place-content: center;
  display: flex;
  animation: moon-animation 5s linear infinite;
}

.moon {
  background-color: rgb(27, 214, 192);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(246, 240, 240);
}

/* Keyframes */
@keyframes moon-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.box:hover .moon-container {
  animation-duration: 20s;
}
