.footer {
  padding: 1rem 0;
  font-size: var(--font-size-15);
  border-top: 0.1rem solid var(--color-black);
  font-family: monospace;
  color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  border-top: 0.1rem solid;
}
